<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir Imágenes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
</head>
<body>
  <h1>Subir Nueva Imagen</h1>
  <form id="upload-form" action="/cargar" method="post" enctype="multipart/form-data">
    <input type="file" name="archivo" accept="image/*" required>
    <button type="submit">Subir Imagen</button>
  </form>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
  <script src="/js/cargar.js"></script>


</body>

</html>
