<!DOCTYPE html>
<html>
<head>
  <title>Subida Exitosa</title>
</head>
<body>
  <h1>Subida Exitosa</h1>
  <img src="<%= imageUrl %>" alt="Imagen subida">
  <p>Enlace a la imagen: <a href="<%= imageUrl %>"><%= imageUrl %></a></p>
  <a href="/upload">Volver</a>
</body>
</html>
